.git
.env
.env.local
.env.*.local
vendor
node_modules
public/storage
public/hot
storage/*.key
.idea
.vscode
.DS_Store
Thumbs.db
*.log
.phpunit.result.cache
docker-compose.yml
.dockerignore
Dockerfile
README.md
tests
.editorconfig
.gitignore
.gitattributes
